/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

body{
    background-color: #69fffc ;
}


 ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.carousel {
    margin: auto;
    width: 50%;
    padding: 15px
}